* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0ch;
}

.bodyimag {
  background-color: #5023A8;
}

header .header_element {
  text-align: center;
  color: #F5EB4C;
  word-spacing: 0,5ch;
  font-weight: bold;
  font-size: 70px;
  word-spacing: 20px;
  letter-spacing: 5px;
}

header .header_element2 {
  text-align: center;
  color: #F5EB4C;
  font-size: 2em;
}

nav {
  background-color: #F5EB4C;
}

main {
  text-align: center;
}

main section {
  margin: 0;
  padding: 0;
  text-align: center;
}

main section .contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #ff0fc3;
  border-radius: 2cm;
  color: #F5EB4C;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main h1 {
  color: #F5EB4C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
}

main input {
  border-radius: 10px;
}

main textarea {
  border-radius: 20px;
}

main form {
  padding: 10rem;
  background-color: #864DF5;
  margin: 60px;
}

main label {
  color: #F5EB4C;
}

main legend {
  color: #F5EB4C;
}

main .conta {
  margin-top: 10px;
  font-size: 40px;
}

footer {
  background-color: #F5EB4C;
  color: darkslateblue;
  text-align: center;
  letter-spacing: 3px;
}

@media only screen and (max-width: 480px) {
  .conta {
    font-size: 40px;
  }
  textarea {
    margin: auto;
    width: 100%;
  }
  .contact {
    margin: auto;
  }
}

@media only screen and (max-width: 960px) {
  .header_element {
    font-size: 3rem;
  }
  .header_element2 {
    font-size: 2rem;
  }
  .conta {
    font-size: 40px;
  }
  textarea {
    margin: auto;
    width: 100%;
  }
  .contact {
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 0 50px;
  }
  textarea {
    margin: auto;
  }
  .contact {
    margin: auto;
  }
}
