* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0ch;
}

.bodyimag {
  background-color: #5023A8;
}

header .header_element {
  text-align: center;
  color: #F5EB4C;
  word-spacing: 0,5ch;
  font-weight: bold;
  font-size: 70px;
  word-spacing: 20px;
  letter-spacing: 5px;
}

header .header_element2 {
  text-align: center;
  color: #F5EB4C;
  font-size: 2em;
}

nav {
  background-color: #F5EB4C;
}

main {
  text-align: center;
}

main hr {
  color: #F5EB4C;
}

main .container {
  background-color: #864DF5;
}

main .shoptitle {
  margin: 3rem;
  color: #5023A8;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  background-color: #F5EB4C;
}

main .cartah {
  border-radius: 10px;
  height: 40%;
}

main .carta__imageh {
  margin: 1rem 0rem;
  width: 80%;
}

main .carta__texth {
  color: #F5EB4C;
}

main .productTitleh {
  font-size: 1rem;
  font-weight: bold;
}

main .productPriceh {
  font-size: 1rem;
  font-weight: bold;
}

main .maint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 5px #3dd0d8;
  background-color: blueviolet;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

main .carrouselimag {
  text-align: center;
}

main .buttonh {
  padding: 1rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #5023A8;
  color: #F5EB4C;
  margin-bottom: 20px;
}

main .publicidad {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .image__publi {
  width: 600px;
  height: 300px;
}

main .buttonh:hover {
  background-color: aliceblue;
  color: black;
}

main hr {
  color: #F5EB4C;
}

footer {
  background-color: #F5EB4C;
  color: darkslateblue;
  text-align: center;
  letter-spacing: 3px;
}

@media only screen and (max-width: 320px) {
  .carrousel {
    width: 100%;
  }
  .maint {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image__publi {
    width: 100%;
    margin: auto;
  }
  iframe {
    margin: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .carrousel {
    width: 100%;
  }
  .maint {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: red;
  }
  .image__publi {
    width: 100%;
    margin: auto;
  }
  iframe {
    margin: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 960px) {
  .header_element {
    font-size: 3rem;
  }
  .header_element2 {
    font-size: 2rem;
  }
  .carrousel {
    width: 100%;
    text-align: center;
    text-align: center;
  }
  .image__publi {
    width: 100%;
    margin: auto;
  }
  .maint {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #9c00cc;
  }
  .carta__imageh {
    width: 50%;
  }
  iframe {
    width: 460px;
    height: 215px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0 50px;
  }
  .carrousel {
    width: 100%;
  }
}
