* {
  margin: 5px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0ch;
}

.bodyimag {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a255d), color-stop(#1e1e67), to(#000044));
  background-color: #5023A8;
}
header .titulos {
  text-align: center;
  color: #F5EB4C;
}
header h2 {
  text-align: center;
}
header h2 {
  color: antiquewhite;
  text-align: center;
  word-spacing: 0,5ch;
}
header h1 {
  color: white;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 70px;
  word-spacing: 20px;
  letter-spacing: 5px;
}
nav {
  background-color: #F5EB4C;
}
nav .nav__ {
  padding: 1px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav__ ul li {
  margin: 4px 60px;
}

nav .nav__ ul li a {
  color: white;
}
nav .nav__ a {
  color: white;
}
main h1 {
  background-color: #00d6cf;
  color: darkslateblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
}
main h2 {
  text-align: center;
}
main p {
  text-align: center;
}
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#33a8ae), color-stop(#64d3e4), to(#50d0c1));
  background-color: #F5EB4C;  
  color: darkslateblue;
  text-align: center;
  letter-spacing: 3px;
}
.heroImage1 {
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/imag/nosotros1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
  position: relative;
  color: #F5EB4C;
  margin: 0px;
}
.nostitle{
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
font-size: 3rem;
}
.heroImage2 {
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/imag/nosotros2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
  position: relative;
  color: #F5EB4C;
  margin: 0px;
}
.heroImage3 {
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/imag/nosotros3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
  position: relative;
  color: #F5EB4C
}
.heroImage4 {
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/imag/nosotros4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 15rem;
  position: relative;
  color: #F5EB4C
}
.mario{
  width: 20%;
 text-align: center;
 margin-left: 40%;
 border: 5px double #F5EB4C;
}
.nosotros{
  color: #F5EB4C;
  margin: 0px;
}
.sobrenosotros{
  padding: 20px;
  margin: 20px;
  background-color: #864DF5;
  border-radius: 20px;
}
.noscontent1{
font-size: 15px;
font-weight: bolder;
}
@media only screen and (max-width:480px) {
  .nostitle{
    margin: auto;
    font-size: 10px;
  }
  .noscontent1{
    margin: auto;
    font-size:10px;
  }
}
@media only screen and (max-width:768px) {
  .nostitle{
    margin: auto;
    font-size: 15px;
  }
  .noscontent1{
    margin: auto;
    font-size: 15px;
  }
}
@media only screen and (min-width:1200px) {
  body{
    padding: 0 50px;
  }
}

