* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0ch;
}

.bodyimag {
  background-color: #5023A8;
}

header .header_element {
  text-align: center;
  color: #F5EB4C;
  word-spacing: 0,5ch;
  font-weight: bold;
  font-size: 70px;
  word-spacing: 20px;
  letter-spacing: 5px;
}

header .header_element2 {
  text-align: center;
  color: #F5EB4C;
  font-size: 2em;
}

nav {
  background-color: #F5EB4C;
}

main {
  text-align: center;
}

main hr {
  color: #F5EB4C;
}

main .main_element {
  text-align: center;
  color: #F5EB4C;
  -webkit-text-size-adjust: 40px;
  -moz-text-size-adjust: 40px;
  -ms-text-size-adjust: 40px;
  text-size-adjust: 40px;
}

main .maint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .carta {
  background-color: #864DF5;
  border-radius: 10px;
  margin: 10px;
  width: 500px;
}

main .carta__image {
  width: 80%;
}

main .carta__text {
  color: #F5EB4C;
}

main .productTitle {
  font-size: 12px;
  font-weight: bold;
}

main .productPrice {
  font-size: 10px;
  font-weight: bold;
  margin: 10px;
}

main .carta__image {
  margin: 1rem 0rem;
  width: 90%;
  height: 50%;
}

main .btnMas {
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #864DF5;
  color: #F5EB4C;
  text-align: center;
}

main .btnMas:hover {
  background-color: white;
  color: black;
}

main .heroImage {
  background-image: url("../imag/high-score-mundo-videojuegos-2036783.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  position: relative;
}

main .heroText {
  text-align: center;
  padding-top: 100px;
}

main .heroText h2 {
  font-size: 3rem;
  color: yellow;
}

main .heroText p {
  color: yellow;
}

main .shoptitle {
  margin: 3rem;
  color: #00d6cf;
}

main .buttontienda {
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #5023A8;
  color: #F5EB4C;
  margin-bottom: 80px;
}

main .buttontienda:hover {
  background-color: aliceblue;
  color: black;
}

main .productPrice2 {
  font-size: 10px;
  font-weight: bold;
  margin: 22px;
}

main .productPrice3 {
  font-size: 10px;
  font-weight: bold;
  margin: 38px;
}

footer {
  background-color: #F5EB4C;
  color: darkslateblue;
  text-align: center;
  letter-spacing: 3px;
}

@media (max-width: 480px) {
  .header_element {
    font-size: 3rem;
  }
  .header_element2 {
    font-size: 2rem;
  }
  .buttontienda {
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #5023A8;
    color: #F5EB4C;
    margin-bottom: 60px;
  }
  .productPrice2 {
    font-size: 6px;
    font-weight: bold;
    margin: auto;
  }
  .productPrice3 {
    font-size: 6px;
    font-weight: bold;
    margin: 10px;
  }
  .productTitle {
    font-size: 8px;
    font-weight: bold;
  }
  .productPrice {
    font-size: 6px;
    font-weight: bold;
    margin: auto;
  }
  .productPrice4 {
    font-size: 1px;
    font-weight: bold;
    margin: auto;
  }
  .carta__image {
    margin: 1rem 0rem;
    width: 90%;
    height: 50%;
  }
  .carta {
    background-color: red;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
  }
  .btnMas {
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #864DF5;
    color: #F5EB4C;
  }
}

@media (max-width: 960px) {
  .header_element {
    font-size: 3rem;
  }
  .header_element2 {
    font-size: 2rem;
  }
  .buttontienda {
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #5023A8;
    color: #F5EB4C;
    margin-bottom: 30px;
  }
  .productPrice2 {
    font-size: 10px;
    font-weight: bold;
    margin: 18px;
  }
  .productPrice3 {
    font-size: 10px;
    font-weight: bold;
    margin: auto;
  }
  .productTitle {
    font-size: 7px;
    font-weight: bold;
  }
  .productPrice {
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
  }
  .carta__image {
    margin: 1rem 0rem;
    width: 90%;
    height: 50%;
  }
  .carta {
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
  }
  .btnMas {
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #864DF5;
    color: #F5EB4C;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 0 50px;
  }
}
