* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyimag{
        background: linear-gradient(rgb(62, 62, 251), blue, navy);
     }   
header{
       .index{
        background: linear-gradient(rgb(62, 62, 251), blue, navy);  
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 0ch;  
        }
           h1{
               .titulos{
                text-align: center;
               }
           }
           h2{
            .titulos{
                text-align: center;
           }
        }
    }

nav {
    a {
        color: white;
    }
    div {
        a {
            color: white;
        }
    }
}


 main{
         .monitor{
              margin: 0px;
              border: inset;
             background-image: url("imag/img/fondo3.jpg")    
            }
        }
        .video{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            background: linear-gradient(rgb(62, 62, 251), blue, navy);
            }

footer{
        color: snow;
        box-sizing: border-box;
        text-align: center;
        letter-spacing: 3px;
    }


.card {
    background-color: red;
    &__image {
        width: 80%;
        img
    }
}
