* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0ch;
}

.bodyimag{
    background-color: #5023A8;
}
header {
    .titulos{
        text-align: center;
        color: #F5EB4C;
       }
    h2{
        text-align: center;
   }
    h2{
        color:#F5EB4C;
        text-align: center; 
        word-spacing: 0,5ch;  
    }
    h1 {
    color:#F5EB4C;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    word-spacing: 20px;
    letter-spacing: 5px;
}
}

nav {
    background-color:#F5EB4C;
    .nav__ { 
        padding: 1px;
        align-items: flex-end;
        justify-content: center;
}   }

main {
    section{
        margin: 0;
        padding: 0;
        text-align: center;
        .contact{
            box-sizing: border-box;
            border: rgb(255, 15, 195);
            border-radius: 2cm;
            color: cyan;
            box-sizing: content-box;
        }
    
      
       }
        h1{
            color: cyan;
            box-sizing: border-box;
            height: 80px;
        }
      

    }

 

footer {
    background: linear-gradient(rgb(51, 168, 174), rgb(100, 211, 228), rgb(80, 208, 193));
    color:darkslateblue;
    text-align: center;
    letter-spacing: 3px;
}
    