* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0ch;
}

.bodyimag{
    background-color: #5023A8;
}
header {
        .header_element{
         text-align: center;
         color: #F5EB4C;
         word-spacing: 0,5ch;
         font-weight: bold;
         font-size: 70px;
         word-spacing: 20px;
        letter-spacing: 5px;
        }
        .header_element2{
         text-align: center;
         color: #F5EB4C;
         font-size: 2em;
        }
   }
nav {
    background-color:#F5EB4C;
   }
main {
    text-align: center;
    .heroImage1 {
        background-image:url("../imag/nosotros1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 15rem;
        position: relative;
        color: #F5EB4C;
        margin: 0px;
      }
      .nostitle{
        text-align: center;
        font-weight: bold;
        padding-top: 50px;
      font-size: 3rem;
      }
      .heroImage2 {
        background-image:url("../imag/nosotros2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 15rem;
        position: relative;
        color: #F5EB4C;
        margin: 0px;
      }
      .heroImage3 {
        background-image:url("../imag/nosotros3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 15rem;
        position: relative;
        color: #F5EB4C;
        margin: 0px;
      }
      .heroImage4 {
        background-image:url("../imag/nosotros4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 15rem;
        position: relative;
        color: #F5EB4C;
        margin: 0px;
      }
      .mario{
        width: 20%;
       text-align: center;
       border: 5px double #F5EB4C;
      }
      .nosotros{
        color: #F5EB4C;
        margin: 0px;
      }
      .sobrenosotros{
        padding: 20px;
        margin: 20px;
        background-color: #864DF5;
        border-radius: 20px;
      }
      .noscontent1{
      font-size: 15px;
      font-weight: bolder;
      }
} 
footer {
    background-color: #F5EB4C;
    color:darkslateblue;
    text-align: center;
    letter-spacing: 3px;
}
@media only screen and (max-width:480px) {
    .nostitle{
      margin: auto;
      font-size: 10px;
    }
    .noscontent1{
      margin: auto;
      font-size:10px;
    }
  }
  @media only screen and (max-width:960px) {
    .header_element{
      font-size: 3rem;
      color: #F5EB4C;
    }
    .header_element2{
      font-size: 2rem;
      color: #F5EB4C;
    }
    .nostitle{
      margin: auto;
      font-size: 20px;
    }
    .noscontent1{
      margin: auto;
      font-size: 10px;
    }
  }
  @media only screen and (min-width:1024px) {
    body{
      padding: 0 50px;
    }
  }
  
  

    