* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0ch;
}

.bodyimag{
    background-color: #5023A8;
}
header {
    .index_element{
        text-align: center;
        color: #F5EB4C;
        h1 {
            color:#F5EB4C;
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            text-align: center;
            font-size: 70px;
            word-spacing: 20px;
            letter-spacing: 5px;
            }
            h2{
                color:#F5EB4C;
                text-align: center; 
                word-spacing: 0,5ch; 
                text-align: center; 
            }
        }
}
nav {
    background-color: #F5EB4C;
    .nav__ { 
        padding: 1px;
        align-items: flex-end;
        justify-content: center;  
    } 
  }

main {
    text-align: center;
    hr{
        color: #F5EB4C;
    }
    .main_element{
        text-align: center;
        color: cyan;
       text-size-adjust: 40px;
    
       }
     .main_photo{
         width: 550px;
         height: 400px;
         display: line block;
         margin: 40px;  
     }  
        .maint{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
       
        }
        .maincuadro{
            width: 250px;
            height: 300px;
            margin-bottom: 5px;
            margin: 10px;
            img{
             width: 150px;
             height: 200px;
            }
             p{
                 background-color:#F5EB4C;
                 margin: 5px;
                color: darkslateblue;
             }
        }
       }
        h1{
            color: darkslateblue;
            box-sizing: border-box;
            height: 80px;
            text-size-adjust: 60px;
        }
    div{
        h1{
            background-color: cyan;
            color: darkslateblue;
        }
        p{
            color: cyan;
        }
    }
footer {
    background-color: #F5EB4C;
    color:darkslateblue;
    text-align: center;
    letter-spacing: 3px;
}
    