* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0ch;
}
.bodyimag{
    background: linear-gradient(rgb(26, 37, 93), rgb(30, 30, 103), rgb(0, 0, 68));
}
header {
    .titulos{
        text-align: center;
        color: cyan;
       }
    h2{
        text-align: center;
   }
    h2{
        color: antiquewhite;
        text-align: center; 
        word-spacing: 0,5ch;  
    }
    h1 {
    color:white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    word-spacing: 20px;
    letter-spacing: 5px;
}
}

nav {
    background-color:(rgb(0, 214, 207));
    .nav__ { 
        padding: 1px;
        align-items: flex-end;
        justify-content: center;
        ul li {
            margin: 4px 60px;
            a {
                color: white;

            }
        }
         a {
            color: white;

        }
}   }

main {
    hr{
        color: cyan;
    }
        h1{
           background-color: (rgb(0, 214, 207));
            color: darkslateblue;
            box-sizing: border-box;
            height: 80px;
        }
        .titulos{
            text-align: center;
            color: cyan;
        }
        .ilus{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .imags{
                width: 350px;
                height: 400px;
                border: 2px double whitesmoke; 
                &:hover{
                    transform:scale(1.3,1.3);
                    border: 5px double rgb(255, 15, 195); ;
                }
            }
        }
    }
footer {
    background: linear-gradient(rgb(51, 168, 174), rgb(100, 211, 228), rgb(80, 208, 193));
    color:darkslateblue;
    text-align: center;
    letter-spacing: 3px;
}
    